In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local').appName('trip_data').getOrCreate()

In [20]:
data=[
    ('안현', 20),
    ('가영', 21),
    ('진수', 22),
    ('시은', 23),
    ('찬호', 24),
    ('지현', 25),
    ('영희', 26),
    ('철수', 27),
    ('은지', 50),
    ('영진', 29),
    ('안현', 30),
    ('가영', 31),
    ('민수', 32),
    ('지은', 70),
    ('준호', 80)
]

In [21]:
schema = ['name','age']

In [22]:
df = spark.createDataFrame(data , schema)

In [23]:
df.createOrReplaceTempView('data')

In [24]:
df.show()

+----+---+
|name|age|
+----+---+
|안현| 20|
|가영| 21|
|진수| 22|
|시은| 23|
|찬호| 24|
|지현| 25|
|영희| 26|
|철수| 27|
|은지| 50|
|영진| 29|
|안현| 30|
|가영| 31|
|민수| 32|
|지은| 70|
|준호| 80|
+----+---+

In [25]:
def age_category(name):
    result = spark.sql("SELECT * FROM data WHERE name='" + name + "'").collect()

    age = int(result[0]["age"])
    
    if age < 35:
        return "young"
    elif 35 <= age < 60:
        return "adult"
    elif age > 69:
        return "senior"
    else:
        return "마이너스 아이디는 없읍니다"

spark.sql("SELECT * FROM data WHERE age>30 ").show()

In [26]:
age_category("민수")

'young'

In [27]:
age_category("은지")

'adult'

In [28]:
age_category("지은")

'senior'